### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [259]:
total_count = {"Total Players": [purchase_data["Purchase ID"].count()]}
pd.DataFrame.from_dict(total_count)

   Total Players
0            780

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [274]:
# Purchasing Analysis
unique_data = purchase_data[['Item Name','Price']]
unique_items = [unique_data['Item Name'].unique()]
# Count unique items
unique_count = len(unique_items[0])
# Calculate Average Price
average = unique_data['Price'].sum()/unique_count
#Total number of purchases 
num_purch = len(unique_data)
#Total revenue
tot_rev = unique_data['Price'].sum()
Purch_Analysis = {"Number of Unique Items": unique_count, "Average Price": average, "Total Number of Purchases": num_purch,
                 "Total Revenue": tot_rev} 
# Purch_Analysis
Final_df = pd.DataFrame.from_dict(Purch_Analysis, orient='index')
Final_df = Final_df.transpose()
Final_df = Final_df.style.format({'Average Price': "${:.2f}", 'Total Revenue': "${:.2f}" })
Final_df

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [285]:
# Percentage and Count of Players
gender_count = purchase_data['Gender'].value_counts()
gender_percentage = gender_count/len(purchase_data)
gender_demo = pd.concat([gender_count, gender_percentage], axis=1, 
                        keys=['Total Count', 'Percentage of Players'])
gender_demo.style.format({'Percentage of Players': "{:.2f}%"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [275]:
gender_purch_df = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Gender'])['Price'].count(),
                        'Avg. Purchase Price': purchase_data.groupby(['Gender'])['Price'].mean(),
                        'Total Purchase Value': purchase_data.groupby(['Gender'])['Price'].sum(),
                       'Avg. Purchase Total per Person': purchase_data.groupby(['Gender','SN'])['Price'].sum().mean(level='Gender')})
                        
gender_purch_df.style.format({'Avg. Purchase Price': "${:.2f}", 
                              'Total Purchase Value': "${:.2f}",
                              'Avg. Purchase Total per Person': "${:.2f}" })

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [105]:
# Create Bins
bins = [0,9,14,19,24,29,34,39,150]

# Give bins a name
group_names = ['<10','10-14','15-19','20-24','25-29','30-34','35-39','40+']

In [277]:
purchase_data["Age Category"] = pd.cut(purchase_data['Age'], bins, labels=group_names)
age_cat = purchase_data.groupby('Age Category')
age_demo = pd.DataFrame({'Total Count': age_cat['Age Category'].count(),
                        'Percentage of Players': (age_cat['Age Category'].count()/len(purchase_data))*100})
age_demo.style.format({'Percentage of Players': "{:.2f}%"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [278]:
purchase_data["Age Category"] = pd.cut(purchase_data['Age'], bins, labels=group_names)
age_demo_analysis = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Age Category'])['Age Category'].count(),
                         'Avg. Purchase Price': purchase_data.groupby(['Age Category'])['Price'].mean(), 
                         'Total Purchase Value': purchase_data.groupby(['Age Category'])['Price'].sum(),
                         'Avg. Purchase Total per Person': purchase_data.groupby(['Age Category', 'SN'])['Price'].sum().mean(level="Age Category")
                        })
age_demo_analysis.style.format({'Avg. Purchase Price': "${:.2f}", 
                              'Total Purchase Value': "${:.2f}",
                              'Avg. Purchase Total per Person': "${:.2f}" })

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [282]:
top_spender = pd.DataFrame({'Purchase Count': purchase_data.groupby(['SN'])['SN'].count(),
                         'Avg. Purchase Price': purchase_data.groupby(['SN'])['Price'].mean(), 
                         'Total Purchase Value': purchase_data.groupby(['SN'])['Price'].sum(),
                            })
top_spender.sort_values(by=['Total Purchase Value'], ascending=False).head().style.format({'Avg. Purchase Price': "${:.2f}", 
                              'Total Purchase Value': "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [283]:
most_popular = pd.DataFrame({'Purchase Count': purchase_data.groupby(['Item ID', 'Item Name'])['Item Name'].count(), 
                            "Item Price": purchase_data.groupby(['Item ID', 'Item Name'])['Price'].mean(), 
                            "Total Purchase Value": purchase_data.groupby(['Item ID', 'Item Name'])['Price'].sum(level='Item ID') 
                            })
most_popular.sort_values(by=['Purchase Count'], ascending=False).head().style.format({'Item Price': "${:.2f}", 
                              'Total Purchase Value': "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [284]:
most_popular.sort_values(by=['Total Purchase Value'], ascending=False).head().style.format({'Item Price': "${:.2f}", 
                              'Total Purchase Value': "${:.2f}"})